@import '/src/styles/variables';

#atom_room_tile {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background-color: $color-offwhite;
    border-radius: $border-radius-md;
    cursor: pointer;
  }

  .room_information {
    display: flex;
    gap: 1rem;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .action_row {
    padding: 0 1rem;
  }
}