@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
@import './variables.scss';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  //background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  background-color: $color-blue;
  font-family: 'Poppins', sans-serif;
}