$color-white: #FFFFFF;
$color-offwhite: #FAF9F6;
$color-lightgrey: #CCCCCC;
$color-blue: #0096FF;

$border-radius-md: 1rem;

:export {
  colorWhite: $color-white;
  colorOffWhite: $color-offwhite;
  colorLightGrey: $color-lightgrey;
  colorBlue: $color-blue;
}