#domain_selector {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .domain_tabs {
    height: 400px;
    overflow-y: auto;

    .domain_tab {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .domain_header {
        padding: 0 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: bold;
      }
    }
  }
}