#domain_selector {
  .domain_tabs {
    display: flex;

    .domain_tab {
      width: 50%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      border-radius: 1rem;
    }
  }
}