#molecule_messages {
  padding: 1rem;

  .messages_header {
    margin-bottom: 1rem;
  }

  .user_communications {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }

  .messages_action_row {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 1rem;

    .new_message_input {
      width: 100%;
    }
  }
}